$color-primary-blue:  hsl(238, 29%, 16%);
$color-primary-red: hsl(14, 88%, 65%);
$color-bg-violet: hsl(273, 75%, 66%);
$color-bg-blue: hsl(240, 73%, 65%);
$color-grey-1: hsl(237, 12%, 33%); // question
$color-grey-2: hsl(240, 6%, 50%); // answer
$color-grey-10: hsl(240, 5%, 91%);
$transition: all 0.3s linear;


html {
  font-size: 62.5%;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background: linear-gradient($color-bg-violet, $color-bg-blue);
  line-height: 1.5;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 1rem;
}

.main-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card {
  background-color: #fff;
  border-radius: 3.2rem;
  margin-top: 10rem;
  padding: 4.8rem 2.4rem 6.4rem;
  max-width: 32.8rem;
  width: 95vw;
  display: flex;
  flex-direction: column;

}

.img-container {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 21rem;
    left: 0;
    background: url(../images/bg-pattern-mobile.svg) center no-repeat;
    width: 25rem;
    height: 20rem;
    top: -9rem;
    left: 1.4rem;

    @media screen and (min-width: 1000px) {
      width: 96.4rem;
      background: url(../images/bg-pattern-desktop.svg) center no-repeat;
      height: 94.4rem;
      left: -56.5rem;
      top: -30rem;
    }
  }

}

.img-mobile {
  position: absolute;
  top: -15.5rem;
  right: 2.2rem;
}

.img-desktop {
  display: none;
  z-index: 1;
}

.title {
  text-align: center;
  font-size: 3.2rem;
  text-transform: uppercase;
  color: $color-primary-blue;
  padding-bottom: 2rem;
}

.faq {
  padding-top: 8rem;
}

.faq-item {
  border-bottom: 1px solid $color-grey-10;
  padding: 1.6rem 0;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}

.question:hover .question-text {
  cursor: pointer;
  color: $color-primary-red;
}

.question-text {
  color: $color-grey-1;
  font-size: 1.3rem;
  font-weight: normal;
  padding-right: 1rem;
}

.question-btn {
  background-color: transparent;
  border-color: transparent;
  outline: none;
  transition: $transition;
}

.answer {
  color: $color-grey-2;
  padding-top: .8rem;
  padding-right: 1.6rem;
  font-size: 1.2rem;
}

.footer {
  align-self: center;
}

// toggling text
.answer {
  display: none;
}

.show-text .answer {
  display: block;
}

.show-text .question-btn {
  transform: rotate(180deg);
}

.show-text .question-text {
  font-weight: bold;
}

.footer {
  font-size: 1.2rem;
}

@media screen and (min-width: 1000px) {

  .card {
    flex-direction: row;
    max-width: 920px;
    width: 100%;
    padding: 0;
    position: relative;
    margin-top: 0;

    &::after {
      content: "";
      position: absolute;
      background: url(../images/illustration-box-desktop.svg) no-repeat center;
      width: 15rem;
      height: 18rem;
      z-index: 2;
      left: -7rem;
      top: 19rem;
    }

  }

  .img-container {
    overflow: hidden;
    padding-top: 4.8rem;
  }


  .img-mobile {
    display: none;
  }

  .img-desktop {
    display: block;
    position: absolute;
    right: 6rem;
  }

  .img-container, .faq {
    flex-basis: 50%;
  }

  .faq {
    padding: 4.8rem 9rem 8.4rem 0;
  }

  .title {
    text-align: left;
  }

  .question-text {
    font-size: 1.4rem;
  }

  .answer {
    font-size: 1.3rem;
  }
}