html {
  font-size: 62.5%;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background: linear-gradient(#af67e9, #6565e7);
  line-height: 1.5;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.card {
  background-color: #fff;
  border-radius: 3.2rem;
  margin: 12rem auto;
  padding: 4.8rem 2.4rem 6.4rem;
  max-width: 32.8rem;
  width: 95vw;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5rem 5rem -2rem rgba(53, 18, 122, 0.5);
}

.img-container {
  position: relative;
  margin: -15.5rem auto 0;
  background: url(../images/bg-pattern-mobile.svg) no-repeat;
  padding-bottom: 2rem;
  background-position: 2rem 11rem;
}

.img-mobile {
  transform: translateX(-1rem);
  width: 100%;
}

.img-desktop {
  display: none;
  z-index: 1;
}

.title {
  text-align: center;
  font-size: 3.2rem;
  text-transform: uppercase;
  color: #1d1e35;
  padding-bottom: 2rem;
}

.faq {
  padding-top: 3rem;
}

.faq-item {
  border-bottom: 1px solid #e7e7e9;
  padding: 1.6rem 0;
}

.question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: transparent;
  border-color: transparent;
  outline: none;
  font-family: 'Kumbh Sans', sans-serif;
  cursor: pointer;
}

.question:hover .question-text {
  cursor: pointer;
  color: #f47c57;
}

.question:focus .question-text {
  font-weight: bold;
}

.question .arrow {
  transition: all 0.3s linear;
}

.question-text {
  color: #4a4b5e;
  font-size: 1.3rem;
  font-weight: normal;
  padding-right: 1rem;
}

.answer {
  color: #787887;
  padding-top: .8rem;
  padding-right: 1.6rem;
  font-size: 1.2rem;
}

.footer {
  align-self: center;
}

.answer {
  display: none;
}

.show-text .answer {
  display: block;
}

.show-text .arrow {
  transform: rotate(180deg);
}

.show-text .question-text {
  font-weight: bold;
}

.footer {
  font-size: 1.2rem;
  padding: 1rem 0;
}

@media screen and (min-width: 668px) {
  .card {
    max-width: 62rem;
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

@media screen and (min-width: 1000px) {
  .main-section {
    align-items: center;
  }
  .card {
    flex-direction: row;
    max-width: 92rem;
    width: 100%;
    padding: 0;
    position: relative;
  }
  .card::after {
    content: "";
    position: absolute;
    background: url(../images/illustration-box-desktop.svg) no-repeat center;
    width: 15rem;
    height: 18rem;
    z-index: 2;
    left: -7rem;
    top: 19rem;
  }
  .card .img-container {
    overflow: hidden;
    background: url(../images/bg-pattern-desktop.svg) no-repeat;
    background-position: -56rem -29rem;
    margin: 0;
    padding-bottom: 0;
  }
  .img-mobile {
    display: none;
  }
  .img-desktop {
    display: block;
    transform: translateY(5rem) translateX(-7rem);
  }
  .img-container, .faq {
    flex-basis: 50%;
  }
  .faq {
    padding: 4.8rem 9rem 8.4rem 0;
  }
  .title {
    text-align: left;
  }
  .question-text {
    font-size: 1.4rem;
  }
  .answer {
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=style.css.map */