html {
  font-size: 62.5%;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
  line-height: 1.5;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

.card {
  background-color: #fff;
  border-radius: 3.2rem;
  margin: 12rem auto;
  padding: 0 2.4rem 6.4rem;
  max-width: 32.8rem;
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 5rem 5rem -2rem rgba(53, 18, 122, 0.5);
          box-shadow: 0 5rem 5rem -2rem rgba(53, 18, 122, 0.5);
}

.img-container {
  position: relative;
  margin-bottom: -14rem;
  background: url(../images/bg-pattern-mobile.svg) no-repeat;
  background-position: center 0;
  background-size: 90%;
}

.img-mobile {
  width: 100%;
  margin: auto;
  display: block;
  -webkit-transform: translateY(-55%) translateX(-1.25rem);
          transform: translateY(-55%) translateX(-1.25rem);
}

.img-desktop {
  display: none;
  z-index: 1;
}

.title {
  text-align: center;
  font-size: 3.2rem;
  text-transform: uppercase;
  color: #1d1e35;
  padding-bottom: 2rem;
}

.faq {
  padding-top: 7rem;
}

.faq-item {
  border-bottom: 1px solid #e7e7e9;
  padding: 1.6rem 0;
}

.question {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: transparent;
  border-color: transparent;
  outline: none;
  font-family: 'Kumbh Sans', sans-serif;
  cursor: pointer;
}

.question:hover .question-text {
  cursor: pointer;
  color: #f47c57;
}

.question:focus .question-text {
  font-weight: bold;
}

.question .arrow {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.question-text {
  color: #4a4b5e;
  font-size: 1.3rem;
  font-weight: normal;
  padding-right: 1rem;
  text-align: left;
}

.answer {
  color: #787887;
  padding-top: .8rem;
  padding-right: 1.6rem;
  font-size: 1.2rem;
}

.footer {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.answer {
  display: none;
}

.show-text .answer {
  display: block;
}

.show-text .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.show-text .question-text {
  font-weight: bold;
}

.footer {
  font-size: 1.2rem;
  padding: 1rem 0;
}

@media screen and (min-width: 41.75rem) {
  .card {
    max-width: 62rem;
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .img-container {
    background-size: 50%;
  }
  .img-mobile {
    max-width: 28rem;
  }
  .question-text {
    font-size: 1.4rem;
  }
  .answer {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .main-section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 92rem;
    width: 100%;
    padding: 0;
    position: relative;
  }
  .card::after {
    content: "";
    position: absolute;
    background: url(../images/illustration-box-desktop.svg) no-repeat center;
    width: 15rem;
    height: 18rem;
    z-index: 2;
    left: -7rem;
    top: 19rem;
  }
  .card .img-container {
    overflow: hidden;
    background: url(../images/bg-pattern-desktop.svg) no-repeat;
    background-position: -56rem -29rem;
    margin: 0;
    padding-bottom: 0;
  }
  .img-mobile {
    display: none;
  }
  .img-desktop {
    display: block;
    -webkit-transform: translateY(5rem) translateX(-7rem);
            transform: translateY(5rem) translateX(-7rem);
  }
  .img-container, .faq {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .faq {
    padding: 4.8rem 9rem 8.4rem 0;
  }
  .title {
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */